asgiref
certifi
cffi
chardet
coreapi
coreschema
cryptography
Django
django-bootstrap3
django-crequest
django-filter
django-rest-swagger
django-tables2
djangorestframework
djangorestframework-simplejwt
idna
itypes
Jinja2
MarkupSafe
olefile
openapi-codec
Pillow
pycparser
PyJWT
pytz
requests
simplejson
six
sqlparse
uritemplate
urllib3
wincertstore
